.ui-listview>.ui-li-has-thumb>.ui-btn,
.ui-listview>.ui-li-static.ui-li-has-thumb {
    padding-bottom: 15px;
}


/*hide ID display*/

em {
    display: none;
}

img.detail {
    padding: 10px 15px 0 18px;
}

.detailtop {
    margin-bottom: 25px !important;
}